.demo{
	width:400px; 
	margin:40px auto 0 auto; 
	min-height:250px;
	 style="text-align: center;
}
.demo h3{
	line-height:24px; 
	text-align:center; 
	color:#360; 
	font-size:16px
}
.demo p{
	line-height:30px; 
	padding:4px
}
.demo p span{
	margin-left:6px; 
	color:#f30
}
.input{
	width:240px; 
	height:24px; 
	padding:2px; 
	line-height:24px; 
	border:1px solid #999
}
.btn{
	position: relative;
	overflow: hidden;
	display:inline-block;
	*display:inline;
	padding:4px 20px 4px;
	font-size:16px;
	line-height:20px;
	*line-height:22px;
	color:#fff;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	background-color:#5bb75b;
	border:1px solid #cccccc;
	border-color:#e6e6e6 #e6e6e6 #bfbfbf;
	border-bottom-color:#b3b3b3;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
